nav ul a {
  color: black;
}

nav ul a:hover {
  background-color: transparent;
  color: #4fc3f7;
}

nav {
  height: 120px;
}

#nav-mobile {
  margin-right: 40px;
}

.myRow span {
  padding-top: 24px;
  line-height:2.27rem;
}
 
ul.sidenav{
  padding-top:24px;
}