body {
  margin: 0;
  padding: 0;
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.wrapper{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
h1, h2, h3, h4, h5, h6{
  margin:0;
}
main {
  flex: 1 0 auto;
  background-image: url(/images/bg1.jpg);
  background-size: cover;
  background-position: 50% 20%;
}

@media only screen and (min-width: 600px) {
  section {
    min-height: 960px;
  }
}

@media only screen and (max-width: 600px) {
  section {
    min-height: 700px;
  }
}


.mainSection {
  height: 100%;
  background-color: white;
}

.bold {
  font-weight: 700;
}

.input-field input[type="date"]:focus + label,
.input-field input[type="text"]:focus + label,
.input-field input[type="email"]:focus + label,
.input-field input[type="password"]:focus + label,
.input-field textarea:focus + label {
  color: #4fc3f7 !important;
}

.input-field input[type="date"]:focus,
.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.input-field input[type="password"]:focus,
.input-field textarea:focus {
  border-bottom: 2px solid #4fc3f7 !important;
  box-shadow: none !important;
}

.kirbyBtn {
  position: relative;
  float: right;
  margin-right: 100px;
  bottom: 0;
}

#BotChatElement .wc-chatview-panel .wc-header {
  background-color: green !important;
}

.login-form {
  padding: 32px 48px 0px 48px;
  border: 1px solid #eee;
}
