body {
  margin: 0;
  padding: 0;
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url(../src/images/bg1.jpg);
  background-position: 50% 20%;
  background-size: cover;
}

main {
  flex: 1 0 auto;
}

.bold{
  font-weight:700;
}

.thin{
  font-weight:300;
}

.login{
  margin-top:35%;
}

.login button{
  width:30%;
  min-width:200px;
}