body {
  margin: 0;
  padding: 0;
  font-family: proxima-nova, sans-serif;
  font-weight: 500;
  font-style: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  margin-bottom: 40px;
  background-image: url(/images/bg1.jpg);
  background-size: cover;
  background-position: 50% 20%;
}

@media only screen and (min-width: 600px) {
  section {
    min-height: 960px;
  }
}

@media only screen and (max-width: 600px) {
  section {
    min-height: 700px;
  }
}

footer {
  /* position: relative; */
  margin-top: 40px;
  bottom: 0;
  left: 0;
  width: 100%;
}

.bold {
  font-weight: 700;
}

.mainSection {
  height: 100%;
  background-color: white;
}

.input-field input[type="date"]:focus + label,
.input-field input[type="text"]:focus + label,
.input-field input[type="email"]:focus + label,
.input-field input[type="password"]:focus + label,
.input-field textarea:focus + label {
  color: #4fc3f7 !important;
}

.input-field input[type="date"]:focus,
.input-field input[type="text"]:focus,
.input-field input[type="email"]:focus,
.input-field input[type="password"]:focus,
.input-field textarea:focus {
  border-bottom: 2px solid #4fc3f7 !important;
  box-shadow: none !important;
}

.mainSection {
  height: 100%;
  background-color: white;
}

.login-form {
  display: inline-block;
  padding: 32px 48px 0px 48px;
  border: 1px solid #eee;
}
