.col.s4.offset-s4{
  margin-top:10%;
}

.col.s4.offset-s4 p{
    margin-top:40px;
}

.login{
    margin-top:10%;
  }
  
  .login span{
    width:30%;
    min-width:200px;
  }
  
  .login span:hover{
    background-color:#42a5f5 !important;
    color:white !important;
  }

  @media only screen and (max-width: 700px) {
    .aboutKIR{
      display:none;
    }
  }