button i {
    margin-right:8px
}

div.col.s12 button{
    margin-right:8px;
}

.list-group{
    margin-top:40px;
}

#profile-image{
    margin-bottom:40px;
    padding:0;
}

.tabs .tab a{
    color:#4fc3f7;
} 

.tabs .tab a:hover {
    background-color:#b3e5fc;
    color:#4fc3f7;
} 

.tabs .tab a.active {
    background-color:#fafafa;
    color:#4fc3f7;
}

.tabs .tab a:focus, .tabs .tab a:focus.active{
    background-color: #e1f5fe ;
}

.tabs .indicator {
    background-color:#4fc3f7;
}